:root {
  --primary-black: rgb(29, 29, 31);
  /*done*/
  --secondary-grey: rgb(110, 110, 115);
  /*done*/
  --tertiary-grey: rgb(53, 53, 55);
  --quaternary-grey: rgb(66, 66, 69);
  /*done*/
  --quinary-grey: rgb(108, 108, 113);
  --senary-blue: rgb(0, 102, 204);
  /*done*/
  --background-white: rgb(245, 245, 247);
  /*done*/
  --horizontal-divider: rgb(210, 210, 215);
  /*done*/
  --small-font: small;

  --footer-background: #f5f5f7;
  /*done*/
  --footer-border-color: #d2d2d7;
  /*done*/
  --footer-text-color: #6e6e73;
  /*done*/
  --footer-link-color: #424245;
  /*done*/
  --footer-pipe-color: rgb(134, 134, 139);
  --footer-directory-title-color: #1d1d1f;
  /*done*/
  --footer-directory-title-color-hover: #000;
  --footer-mini-shop-link-color: #0066cc;
  /*done*/
}

/* GENERAL STYLES */
@media screen and (min-width: 768px) {
  html {
    font-family: system-ui;
    font-size: var(--small-font);
    background-color: var(--background-white);
  }

  ul {
    list-style-type: none;
  }

  .footer__text1 {
    font-size: var(--small-font);
    font-weight: 400;
    color: var(--secondary-grey);
    margin-left: 90px;
    margin-right: 110px;
  }

  .footer__text1>span>a {
    font-size: var(--small-font);
    font-weight: 400;
    color: var(--quaternary-grey);
    margin-left: 4px;
  }

  .footer__text2 {
    font-size: var(--small-font);
    font-weight: 400;
    color: var(--secondary-grey);
    margin-left: 90px;
    margin-right: 110px;
  }

  .footer__text2>span>a {
    font-size: var(--small-font);
    font-weight: 400;
    color: var(--quaternary-grey);
    margin-left: 4px;
  }

  .horizontal__divider1 {
    border: none;
    height: 1px;
    width: 1010px;
    background-color: var(--horizontal-divider);
    margin: 20px auto;
    margin-top: 0px;
    position: inherit;
  }

  .horizontal__divider2 {
    display: none;
  }

  .horizontal__divider3 {
    display: none;
  }

  .horizontal__divider4 {
    border: none;
    height: 1px;
    width: 1010px;
    background-color: var(--horizontal-divider);
    margin: 5px auto;
    margin-top: 0px;
    position: inherit;
  }

  /* MIDDLE SECTION */

  /* 5 SECTIONS */

  /* Remove the flex properties for the sections */

  .label {
    white-space: nowrap;
    font-size: var(--small-font);
    font-weight: 600;
    color: var(--primary-black);
    margin-left: 40px;
  }

  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    display: inline-block;
    vertical-align: top;
    /* Ensures proper alignment */
    font-size: var(--small-font);
    font-weight: 450;
    color: var(--quaternary-grey);
  }

  .section1 {
    margin-left: 92px;
    margin-right: 20px;
    font-size: var(--small-font);
    font-weight: 450;
    color: var(--quaternary-grey);
  }

  .section2,
  .section3,
  .section4 {
    margin-left: 30px;
    margin-right: 20px;
  }

  .section__item>a {
    font-size: var(--small-font);
    font-weight: 450;
    color: var(--quaternary-grey);
    text-decoration: none;
  }

  .section__item>a:hover {
    text-decoration: underline;
  }

  /*FOOT OF THE FOOTER*/

  .last__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    margin-top: 25px;
  }

  .container__end {
    display: flex;
    flex-wrap: nowrap;
    margin-left: 0px;
    margin-bottom: 25px;
    margin-top: -18px;
  }

  .contact {
    color: var(--secondary-grey);
    font-size: var(--small-font);
    margin-left: 90px;
  }

  .contact>span>a {
    color: var(--senary-blue);
    font-size: var(--small-font);
  }

  .copyright {
    white-space: nowrap;
    color: var(--quinary-grey);
    font-size: var(--small-font);
    margin-left: 90px;
    margin-right: 20px;
    margin-top: -31px;
  }

  .footer__end>a {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
    color: var(--quaternary-grey);
    text-decoration: none;
    font-size: var(--small-font);
  }

  .footer__end>a:hover {
    text-decoration: underline;
  }

  .mini__div {
    height: 10px;
    margin: 0.5px;
    width: 0.5px;
    color: var(--secondary-grey);
    font-size: var(--small-font);
  }
}
